# Build output
build/
*.app

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Xcode (if used)
*.xcodeproj/
*.xcworkspace/
xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# SwiftPM
.build/
.swiftpm/
Package.resolved
